.content-section-a {
  margin-top: 40px;
  padding-top: 80px;
  .list-group-item a {
    color: black;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

#map {
  height: 600px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.intro-header {
  background: url(http://lorempixel.com/1920/1920/city/1) no-repeat center center;
}

.topnav {
    font-size: 14px;
    .navbar-brand {
      font-size: 20px;
    }
}

#new-event {
  margin-bottom: 10px;
}

#info-name {
  color: #04045a;
}

#info-data {
  color: #54545c;
}

#delete-event, #edit-event {
  font-size: 0.7em;
  color: red;
  margin-left: 20px;
  float: right;
  cursor: pointer;
  cursor: hand;
}

#my-events-button, #all-events-button {
  float:right;
}
