.content-section-a {
  margin-top: 40px;
  padding-top: 80px;
  .badge a {
    color: white;
  }
}

#map {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  background: gray;
}

.intro-header {
  background: url(http://fillmurray.com/2000/2000) no-repeat center center;
}

.topnav {
    font-size: 14px;
    .navbar-brand {
      font-size: 20px;
    }
}
