.content-section-a {
  margin-top: 20px;
  padding-bottom: 100px;
  padding-top: 80px;
  .list-group-item a {
    color: black;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  background-color: white;
}


#map {
  height: 70vh;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.intro-header {
  background: url(https://upload.wikimedia.org/wikipedia/commons/4/40/Cornell_University_arts_quad.JPG) no-repeat center center;
  background-size: 100% 100%;
}

.topnav {
    font-size: 14px;
    .navbar-brand {
      font-size: 20px;
    }
}

#new-event {
  margin-bottom: 10px;
}

#info-name {
  color: #04045a;
}

#info-data {
  color: #54545c;
}

#delete-event, #edit-event {
  font-size: 0.7em;
  color: red;
  margin-left: 20px;
  float: right;
  cursor: pointer;
  cursor: hand;
}

#my-events-button, #all-events-button {
  float:right;
}
