div#login-failure {text-align:center;display:none;}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    height: 60px;
}

div#parent {
	overflow: hidden;
}
.right {
	float: right;
	width: 700px;
	padding-left: 50px;
	font-family: 'Sansita One', cursive;
	font-size: 30px;
  line-height: 30px;
}
.left {
	overflow: hidden;
}

@media (max-width: 767px) {
  .right {
    display: none;
  }
}
