div#login-failure {text-align:center;display:none;}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
} 

div#parent {
	overflow: hidden;
}
.right {
	float: right;
	width: 700px;
	padding-left: 50px;
	font-family: 'Sansita One', cursive;
	font-size: 30px;
}
.left {
	overflow: hidden;
}
