<template name='eventForm'>
  <!-- Modal -->
  <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Event</h4>
        </div>
        <div class="modal-body">
          <div id="error-messages" class="bs-component" style="display:none;">
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>Error!</h4>
              <p>Please make sure all of the dates you used are valid, and all of the required fields are filled in.</p>
            </div>
          </div>
          <form class="add-event">

            <div class="form-group">
              <label for="eventName">Event Name*</label>
              <input type="text" class="form-control" id="eventName" placeholder="E.g. Big Red Hacks" maxlength="25">
            </div>
            <div class="form-group">
              <label for="eventDescription">Event Description</label>
              <textarea class="form-control" id="eventDescription" placeholder="Enter a short description of your event"></textarea>
            </div>
            <div class="form-group">
              <label for="eventLocation">Location*</label>
              <select id="eventLocation" class="form-control">
                {{#each locationNames}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="eventTime">Date*</label>
              <input type="date" id="eventDate" value="{{today}}">
            </div>
            <div class="form-group">
              <label for="eventTime">Start Time*</label>
              <input type="time" id="eventStartTime">
            </div>
            <div class="form-group">
              <label for="eventTime">End Time*</label>
              <input type="time" id="eventEndTime">
            </div>
            <div class="form-group">
              <label for="eventCategory">Category*</label>
              <select id="eventCategory" class="form-control">
                {{#each categoryNames}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
            <button type="submit" id="event-submit" class="btn btn-default">Submit</button>
            <div style="display:none;">
              <label for="eventId">Event Id</label>
              <input type="text" id="eventId">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
