<template name='footer'>
  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-10">
                  <ul class="list-inline">
                      <li>
                          <a href="/">Home</a>
                      </li>
                      <li class="footer-menu-divider">&sdot;</li>
                      <li>
                          <a href="/contact">Contact</a>
                      </li>
                  </ul>
                  <em>"I would found an app where any person can find an event at any time."
                  <br>
                  &nbsp;&nbsp;- Para. Ezra Cornell</em>
                  <p class="copyright text-muted small">Made at BigRed//Hacks 2015</p>
              </div>
              <div class="col-lg-2">
                <img src="assets/cornell_logo.gif" width="128" height="128">
              </div>
          </div>
      </div>
  </footer>
</template>
