<template name='home'>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Landing Page</h1>
                        <h3>A Template by Start Bootstrap</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                  <div id="map"></div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge"><a href="">3 mi</a></span>
                      CHEM 2090 Study Group
                    </li>
                    <li class="list-group-item">
                      <span class="badge"><a href="">1 mi</a></span>
                      Smash Party
                    </li>
                    <li class="list-group-item">
                      <span class="badge"><a href="">0.5 mi</a></span>
                      Big Red Hacks
                    </li>
                    <li class="list-group-item">
                      <span class="badge"><a href="">4 mi</a></span>
                      A Cappella Tryouts
                    </li>
                  </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
</template>
