<template name='home'>
  {{> nav}}
    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                  <div id="map"></div>
                </div>
                <div class="col-lg-4 col-sm-12">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge">3 mi</span>
                      <a href="">CHEM 2090 Study Group</a>
                    </li>
                    <li class="list-group-item">
                      <span class="badge">1 mi</span>
                      <a href="">Smash Party</a>
                    </li>
                    <li class="list-group-item">
                      <span class="badge">0.5 mi</span>
                      <a href="">Big Red Hacks</a>
                    </li>
                    <li class="list-group-item">
                      <span class="badge">4 mi</span>
                      <a href="">A Cappella Tryouts</a>
                    </li>
                  </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->
    <div class="container">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    	  MODAL, YAY!
    	</button>
    </div>
    </div>
    <!-- /.content-section-a -->
    {{> modal}}
</template>
