<template name='login'>
  <!-- Header -->
  <a name="about"></a>
  <div class="intro-header">
      <div class="container">


          <div class="row">
              <div class="col-lg-12">

                  <div id="login-failure" class="bs-component" style="display:none;">
                    <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Error!</h4>
                    <p>CU SOON is only available for the Cornell community for now.<br>
                      Use your Cornell e-mail (netId@cornell.edu), please. </p>
                  </div>
                </div>

                  <div class="intro-message">
                      <h1>CU Soon</h1>
                      <h3>The best way to find out what's going on at Cornell.</h3>
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="" id="login" class="btn btn-default btn-lg"><span class="network-name">Login</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.intro-header -->
</template>
