<template name='modal'>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula feugiat velit sit amet tempor. Cras interdum lacus sapien, et tristique augue viverra quis. Curabitur in convallis tortor. Maecenas viverra magna vel diam viverra, eget commodo sapien luctus. Nulla eget ullamcorper arcu, sed semper augue. Donec pretium arcu erat, ut hendrerit justo tempor ac. Aliquam convallis risus erat, sit amet pulvinar enim ornare id. Etiam mauris nunc, scelerisque sit amet consectetur id, rutrum sit amet metus. Aliquam orci dui, ultrices a aliquet sed, auctor quis felis. Cras elementum magna id bibendum luctus. Maecenas at risus eget augue suscipit interdum.

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        ...
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>

</template>
